.food {
    padding-top: 30px;
}

.food__item-text {
    font-size: 15px;
    color: #7b7b7b;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-top: 4px;
}

.food__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.food__list-item {
    width: 360px;
    /* height: 350px; */
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-top: 30px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.food__item-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.food__item-like {
    position: absolute;
    transform: translateY(-50%) translateX(250px);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 18px;
    background-color: #fff;
    color: #7b7b7b;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transform: translateY(-50%) translateX(250px);
    -moz-transform: translateY(-50%) translateX(250px);
    -ms-transform: translateY(-50%) translateX(250px);
    -o-transform: translateY(-50%) translateX(250px);
}

.food__item-info {
    padding: 20px;
}

.food__item-title {
    font-size: 22px;
    line-height: 20px;
    font-weight: 500;
    color: #000;
}

.food__item-text {
    font-weight: 300;
    padding-bottom: 20px;
}

.food__info-price {
    display: flex;
    align-items: center;
}

.food__price-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px;
    height: 25px;
    padding: 8px;
    background-color: #e2dede55;
    color: rgb(103, 102, 102);
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}