* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}


button {
    border: none;
    outline: none;
    cursor: pointer;

}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}


.container {
  width: 1230px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: auto;
  margin-right: auto;
}